USE [master]
GO
/****** Object:  Database [DemoMuh]    Script Date: 19.12.2025 11:35:04 ******/
CREATE DATABASE [DemoMuh]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DemoMuh', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\DemoMuh.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DemoMuh_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\DemoMuh_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DemoMuh].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DemoMuh]
GO
/****** Object:  Table [dbo].[Addresses]    Script Date: 19.12.2025 11:35:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Addresses](
	[IDAddress] [int] NOT NULL,
	[Address] [nvarchar](255) NULL,
 CONSTRAINT [PK_Addresses] PRIMARY KEY CLUSTERED 
(
	[IDAddress] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 19.12.2025 11:35:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Category] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[Category] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 19.12.2025 11:35:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[IDOrder] [int] NOT NULL,
	[DateOrder] [datetime] NULL,
	[DateDilivery] [datetime] NULL,
	[AddressDilivery] [int] NULL,
	[IDUser] [int] NULL,
	[COD] [float] NULL,
	[Status] [nvarchar](255) NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[IDOrder] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderTovar]    Script Date: 19.12.2025 11:35:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderTovar](
	[IDOrder] [int] NOT NULL,
	[Articul] [nvarchar](255) NOT NULL,
	[Count] [float] NULL,
 CONSTRAINT [PK_OrderTovar] PRIMARY KEY CLUSTERED 
(
	[IDOrder] ASC,
	[Articul] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 19.12.2025 11:35:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Role] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[Role] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Statuses]    Script Date: 19.12.2025 11:35:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Statuses](
	[Status] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_Statuses] PRIMARY KEY CLUSTERED 
(
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Suppliers]    Script Date: 19.12.2025 11:35:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suppliers](
	[Supplier] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_Suppliers] PRIMARY KEY CLUSTERED 
(
	[Supplier] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tovar]    Script Date: 19.12.2025 11:35:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tovar](
	[Articul] [nvarchar](255) NOT NULL,
	[Name] [nvarchar](255) NULL,
	[UI] [nvarchar](255) NULL,
	[Cost] [float] NULL,
	[Supplier] [nvarchar](255) NULL,
	[Creator] [nvarchar](255) NULL,
	[Category] [nvarchar](255) NULL,
	[Sale] [float] NULL,
	[Count] [float] NULL,
	[Description] [nvarchar](255) NULL,
	[Image] [nvarchar](255) NULL,
 CONSTRAINT [PK_Tovar] PRIMARY KEY CLUSTERED 
(
	[Articul] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UIes]    Script Date: 19.12.2025 11:35:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UIes](
	[UI] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_UIes] PRIMARY KEY CLUSTERED 
(
	[UI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 19.12.2025 11:35:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[IDUser] [int] NOT NULL,
	[Role] [nvarchar](255) NULL,
	[FIO] [nvarchar](255) NULL,
	[Login] [nvarchar](255) NULL,
	[Password] [nvarchar](255) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[IDUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Addresses] ([IDAddress], [Address]) VALUES (1, N'420151, г. Лесной, ул. Вишневая, 32')
INSERT [dbo].[Addresses] ([IDAddress], [Address]) VALUES (2, N'125061, г. Лесной, ул. Подгорная, 8')
INSERT [dbo].[Addresses] ([IDAddress], [Address]) VALUES (3, N'630370, г. Лесной, ул. Шоссейная, 24')
GO
INSERT [dbo].[Categories] ([Category]) VALUES (N'Женская обувь')
INSERT [dbo].[Categories] ([Category]) VALUES (N'Мужская обувь')
GO
INSERT [dbo].[Orders] ([IDOrder], [DateOrder], [DateDilivery], [AddressDilivery], [IDUser], [COD], [Status]) VALUES (1, CAST(N'2025-02-27T00:00:00.000' AS DateTime), CAST(N'2025-04-20T00:00:00.000' AS DateTime), 1, 4, 901, N'Завершен')
INSERT [dbo].[Orders] ([IDOrder], [DateOrder], [DateDilivery], [AddressDilivery], [IDUser], [COD], [Status]) VALUES (2, CAST(N'2022-09-28T00:00:00.000' AS DateTime), CAST(N'2025-04-21T00:00:00.000' AS DateTime), 11, 1, 902, N'Завершен')
INSERT [dbo].[Orders] ([IDOrder], [DateOrder], [DateDilivery], [AddressDilivery], [IDUser], [COD], [Status]) VALUES (3, CAST(N'2025-03-21T00:00:00.000' AS DateTime), CAST(N'2025-04-22T00:00:00.000' AS DateTime), 2, 2, 903, N'Завершен')
GO
INSERT [dbo].[OrderTovar] ([IDOrder], [Articul], [Count]) VALUES (1, N'F635R4', 2)
INSERT [dbo].[OrderTovar] ([IDOrder], [Articul], [Count]) VALUES (1, N'А112Т4', 2)
INSERT [dbo].[OrderTovar] ([IDOrder], [Articul], [Count]) VALUES (2, N'G783F5', 1)
GO
INSERT [dbo].[Roles] ([Role]) VALUES (N'Авторизированный клиент')
INSERT [dbo].[Roles] ([Role]) VALUES (N'Администратор')
INSERT [dbo].[Roles] ([Role]) VALUES (N'Менеджер')
GO
INSERT [dbo].[Statuses] ([Status]) VALUES (N'Завершен')
INSERT [dbo].[Statuses] ([Status]) VALUES (N'Новый ')
GO
INSERT [dbo].[Suppliers] ([Supplier]) VALUES (N'Kari')
INSERT [dbo].[Suppliers] ([Supplier]) VALUES (N'Обувь для вас')
GO
INSERT [dbo].[Tovar] ([Articul], [Name], [UI], [Cost], [Supplier], [Creator], [Category], [Sale], [Count], [Description], [Image]) VALUES (N'B320R5', N'Туфли', N'шт.', 4300, N'Kari', N'Rieker', N'Женская обувь', 2, 6, N'Туфли Rieker женские демисезонные, размер 41, цвет коричневый', N'\images\9.jpg')
INSERT [dbo].[Tovar] ([Articul], [Name], [UI], [Cost], [Supplier], [Creator], [Category], [Sale], [Count], [Description], [Image]) VALUES (N'B431R5', N'Ботинки', N'шт.', 2700, N'Обувь для вас', N'Rieker', N'Мужская обувь', 2, 5, N'Мужские кожаные ботинки/мужские ботинки', N'\images\pictures.png')
INSERT [dbo].[Tovar] ([Articul], [Name], [UI], [Cost], [Supplier], [Creator], [Category], [Sale], [Count], [Description], [Image]) VALUES (N'C436G5', N'Ботинки', N'шт.', 10200, N'Kari', N'Alessio Nesca', N'Женская обувь', 15, 9, N'Ботинки женские, ARGO, размер 40', N'\images\pictures.png')
GO
INSERT [dbo].[UIes] ([UI]) VALUES (N'шт.')
GO
INSERT [dbo].[Users] ([IDUser], [Role], [FIO], [Login], [Password]) VALUES (1, N'Администратор', N'Никифорова Весения Николаевна', N'94d5ous@gmail.com', N'uzWC67')
INSERT [dbo].[Users] ([IDUser], [Role], [FIO], [Login], [Password]) VALUES (2, N'Администратор', N'Сазонов Руслан Германович', N'uth4iz@mail.com', N'2L6KZG')
INSERT [dbo].[Users] ([IDUser], [Role], [FIO], [Login], [Password]) VALUES (3, N'Администратор', N'Одинцов Серафим Артёмович', N'yzls62@outlook.com', N'JlFRCZ')
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Addresses] FOREIGN KEY([AddressDilivery])
REFERENCES [dbo].[Addresses] ([IDAddress])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Addresses]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Statuses] FOREIGN KEY([Status])
REFERENCES [dbo].[Statuses] ([Status])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Statuses]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Users] FOREIGN KEY([IDUser])
REFERENCES [dbo].[Users] ([IDUser])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Users]
GO
ALTER TABLE [dbo].[OrderTovar]  WITH CHECK ADD  CONSTRAINT [FK_OrderTovar_Orders] FOREIGN KEY([IDOrder])
REFERENCES [dbo].[Orders] ([IDOrder])
GO
ALTER TABLE [dbo].[OrderTovar] CHECK CONSTRAINT [FK_OrderTovar_Orders]
GO
ALTER TABLE [dbo].[OrderTovar]  WITH CHECK ADD  CONSTRAINT [FK_OrderTovar_Tovar] FOREIGN KEY([Articul])
REFERENCES [dbo].[Tovar] ([Articul])
GO
ALTER TABLE [dbo].[OrderTovar] CHECK CONSTRAINT [FK_OrderTovar_Tovar]
GO
ALTER TABLE [dbo].[Tovar]  WITH CHECK ADD  CONSTRAINT [FK_Tovar_Categories] FOREIGN KEY([Category])
REFERENCES [dbo].[Categories] ([Category])
GO
ALTER TABLE [dbo].[Tovar] CHECK CONSTRAINT [FK_Tovar_Categories]
GO
ALTER TABLE [dbo].[Tovar]  WITH CHECK ADD  CONSTRAINT [FK_Tovar_Suppliers] FOREIGN KEY([Supplier])
REFERENCES [dbo].[Suppliers] ([Supplier])
GO
ALTER TABLE [dbo].[Tovar] CHECK CONSTRAINT [FK_Tovar_Suppliers]
GO
ALTER TABLE [dbo].[Tovar]  WITH CHECK ADD  CONSTRAINT [FK_Tovar_UIes] FOREIGN KEY([UI])
REFERENCES [dbo].[UIes] ([UI])
GO
ALTER TABLE [dbo].[Tovar] CHECK CONSTRAINT [FK_Tovar_UIes]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Roles] FOREIGN KEY([Role])
REFERENCES [dbo].[Roles] ([Role])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Roles]
GO
USE [master]
GO
